table, input, tr, th, td {
    border: solid darkgray 1px !important;
}

.marco {
    background-color: #feeffe;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 1em;
}

.inputs {

    display:table-cell;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    border: 0px;
    border-radius: 2px;
}

.inputs-suma {

    display:table-cell;
    width: 100%;
    background-color: #ffdccb;
    text-align: center;
    border: 0px;
    border-radius: 2px;
    pointer-events:none;
}

.inputs-suma-sin-evento {

    display:table-cell;
    width: 100%;
    background-color: #ffdccb;
    text-align: center;
    border: 0px;
    border-radius: 2px;
    pointer-events:none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

table, th, td {
    text-align: center;
    vertical-align: bottom;
}

th {

    background-color: #afd6d2;
}

input[type=checkbox]
{
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    padding: 10px;
}

.separador {

    background-color: #ffdccb;
}

.modal-content{

    background-color: #feeffe !important;
}

#actividades {
    display: contents !important;
 }